body {
  margin: 0;
  height: 0;
  font-family: 'Quicksand',
  sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

header {
  top: 0;
  display: inline-block;
  background-color: #282c34;
  color: white;
  height: 60px;
  position: fixed;
  line-height: 60px;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 0;
  width: 90%;
  z-index: 2000;
}

header h4 {
  margin: 0;
  display: inline-block
}

.addPlaceButton {
  transition: 0.9s ease-in-out;
  cursor: pointer;
  margin-top: 0;
  top: 10px;
  outline: none;
  float: right;
  position: relative;
  color: white;
  border: none;
  background: black;
  height: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-right: 10px;
  padding-left: 10px;
}

.addPlaceButton:hover {
  background: white;
  color: black;
}

.container {
  margin-top: 80px;
  position: relative;
}